[Unit]
Description=RabbitMQ Consumer Documentation Server
After=network.target

[Service]
Type=notify
Environment=CONFIG_FILE_PATH=/etc/cyberfusion/rabbitmq.yml
Environment=HOST='::'
Environment=PORT=9012
ExecStart=/usr/bin/rabbitmq-consumer-documentation-server --config-file-path $CONFIG_FILE_PATH --host $HOST --port $PORT
Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target
